body * {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #000000;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 4px solid #000000;
    background-color: #e6be8b;
    padding: 10px;
    border-radius: 7px;
}

h2 {
    font-weight: 700;
    color: #000000;
    margin-top: 20px;
    border: 2px solid #000000;
    background-color: #f5d0c0;
    padding: 5px;
    border-radius: 7px;
}

body {
    background-color: #4f2525;
    margin: 0;
}

.container {
    border-left: 50px solid #4f2525;
    border-right: 50px solid #4f2525;
    padding: 20px;
    background-color: #F5E9D9;
    margin: 0;
}

.vis-container {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.pure-g {
    margin-bottom: 20px;
}