body * {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.container {
    border-left: 250px solid #C9E9D2;
    border-right: 250px solid #C9E9D2;
    padding: 20px; 
    background-color: #C9E9D2; 
    margin: 0;  
}

.vis-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    text-align: center;
    background-color: #C9E9D2;
    padding: 20px;
}

h1, h2 {
    text-align: center;
    background-color: #C9E9D2;
    color: #C9E9D2;
    padding: 10px;
}

h1 {
    padding: 20px;
}

p {
    line-height: 1.6;
    padding: 20px;
    text-align: justify;
    background-color: #C9E9D2;
}